@model PostPresentationModel

@{
    ViewData["Title"] = "Edit";
}

<div id="IndexTop" class="text-center">
<h1>Edit a post!!</h1>
<a>It will show the edit date and the title with "(edited)" added at the end.</a>

</div>

<div class="container text-center" >
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Author" value="@Model.Author" />
            <input type="hidden" asp-for="Title" value="@Model.Title" />
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea rows="3" asp-for="Content" class="form-control">
                </textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="BtnContainer mb-3 mt-3">
                <input type="submit" value="Save" class="btn btn-outline-dark" />
            </div>
        </form>

             <div class="BtnContainer">
                <a asp-action="Index" class="btn btn-sm btn-outline-primary">All Posts</a>
             </div>
    
</div>

             

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
